/* Основная часть */
main {
    /* min-height: calc(100vh - 120px); Убедитесь, что это значение верно */
    flex: 1; /* Добавьте это свойство */
    padding: 20px 40px;
    color: #fdecaa;
    font-family: 'SedgwickAve-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    position: relative;
    z-index: 5;
    width: 1200px;
    margin: 80px auto;
}


/* Заголовок MENU */
main h1 {
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 8px;
    margin-bottom: 30px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-transform: uppercase;
}

/* our_story */
.story-text {
    background-color: rgba(86, 47, 46, 0.5); /* полупрозрачный чёрный фон */
    padding: 20px 30px;
    border-radius: 15px;
    max-width: 1100px;
    color: #fdecaa;
    font-size: 20px;
    line-height: 1.6;
    box-shadow:
        0 4px 15px rgba(253, 236, 170, 0.4);
    text-align: center;
    user-select: text;
    margin-bottom: 40px;
}

.hr-story {
    border: #fdecaa thin solid;
    border-radius: 20px;
    width: 100%;
    margin: 20px 0;
}

/* location */
.location-map {
    background-color: rgba(86, 47, 46, 0.5); /* полупрозрачный чёрный фон */
    padding: 20px 30px;
    border-radius: 15px;
    width: 1100px;
    height: 720px;
    color: #fdecaa;
    font-size: 20px;
    line-height: 1.6;
    box-shadow:
        0 4px 15px rgba(253, 236, 170, 0.4);
    text-align: center;
    user-select: text;
    margin-bottom: 40px;
}

.location-map-iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow:
        0 4px 15px rgba(253, 236, 170, 0.4);
}

/* jobs */
.text-jobs-main, .text-contact-main {
    width: 80%;
    color: white;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}



.jobs-form {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.jobs-form h3 {
    margin-top: 0;
    margin: 20px auto;
}



.jobs-form label, .jobs-form .text-form-p {
    display: block;
    margin: 15px 0 5px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-top: 20px;
}

.jobs-form input[type="text"],
.jobs-form input[type="tel"],
.jobs-form input[type="email"],
.jobs-form input[type="number"],
.jobs-form select,
.jobs-form textarea {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1.5px solid #fdecaa;
    background-color: rgba(86, 47, 46, 0.3);
    color: #fdecaa;
    font-family: 'SedgwickAve-Regular', sans-serif;
    font-size: 18px;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.jobs-form input[type="text"]:focus,
.jobs-form input[type="tel"]:focus,
.jobs-form input[type="email"]:focus,
.jobs-form input[type="number"]:focus,
.jobs-form select:focus,
.jobs-form textarea:focus {
    outline: none;
    border-color: #fdecaa;
    background-color: rgba(86, 47, 46, 0.5);
}

/* убираем спиннеры в поле ввода type=number */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.jobs-form select:hover {
    background-color: rgba(86, 47, 46, 0.5);
}
.jobs-form .jobs-form-option {
    background-color: rgba(86, 47, 46, 0.5);
    color: #fdecaa;
}


.jobs-form input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
    vertical-align: middle;
}

.jobs-form fieldset {
    margin-bottom: 25px;
    padding: 20px 25px;
}

.jobs-form legend {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
}

.jobs-form button[type="submit"] {
    background-color: rgba(253, 236, 170, 0.9);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    color: #562f2e;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    user-select: none;
    box-shadow:
        0 4px 15px rgba(253, 236, 170, 0.4);
}

.jobs-form button[type="submit"]:hover {
    background-color: #562f2e;
    color: #fdecaa;
}

.jobs-form button[type="submit"]:active {
    background-color: #fdecaa;
}




/* contact_us */
.text-contact-main a {
    text-decoration: none;
    color: #fdecaa;
}

.contactus-form {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.contactus-form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.contactus-form input[type="text"],
.contactus-form input[type="tel"],
.contactus-form input[type="email"],
.contactus-form input[type="number"],
.contactus-form select,
.contactus-form textarea {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1.5px solid #fdecaa;
    background-color: rgba(86, 47, 46, 0.3);
    color: #fdecaa;
    font-family: 'SedgwickAve-Regular', sans-serif;
    font-size: 18px;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.contactus-form input[type="text"]:focus,
.contactus-form input[type="tel"]:focus,
.contactus-form input[type="email"]:focus,
.contactus-form input[type="number"]:focus,
.contactus-form select:focus,
.contactus-form textarea:focus {
    outline: none;
    border-color: #fdecaa;
    background-color: rgba(86, 47, 46, 0.5);
}

.contactus-form button[type="submit"] {
    background-color: rgba(253, 236, 170, 0.9);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    color: #562f2e;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    user-select: none;
    box-shadow:
        0 4px 15px rgba(253, 236, 170, 0.4);
}

.contactus-form button[type="submit"]:hover {
    background-color: #562f2e;
    color: #fdecaa;
}

.contactus-form button[type="submit"]:active {
    background-color: #fdecaa;
}