# Игнорировать виртуальное окружение
.venv/
.env/
backend/.venv

# Игнорировать файлы pyc
*.pyc
__pycache__/

# Игнорировать IDE и редакторские файлы
.vscode/
.idea/

# Игнорировать базы данных или файлы настроек
db.sqlite3

# Игнорировать лог-файлы или временные файлы
*.log