/* --- Футер --- */
footer {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 12%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: #fdecaa;
    user-select: none;
    z-index: 10;
    
}

/* Верхняя часть футера - пагинация */
footer .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 4px;
}
footer .pagination button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fdecaa;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    padding: 0;
    outline: none;
}
footer .pagination button:hover {
    transform: scale(1.2);
}
footer .pagination button svg {
    fill: white;
    width: 20px;
    height: 20px;
}

/* Средняя часть футера - соцсети и надпись */
footer .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 4px;
    padding: 10px 40px;
    border-top: 2px solid #fdecaa;
}
footer .social-icons {
    display: flex;
    gap: 20px;
}
footer .social-icons svg {
    width: 20px;
    height: 20px;
    fill: #fdecaa;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    outline: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;
}
footer .social-icons svg:hover {
    transform: scale(1.2);
}
footer .footer-brand {
    font-weight: 600;
    font-size: 16px;
    user-select: none;
    transition: transform 0.2s ease;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;
}
footer .footer-brand:hover {
    transform: scale(1.2);
}

/* Нижняя часть футера - powered by */
footer .bottom {
    text-align: center;
    font-size: 13px;
    user-select: none;
    background: rgba(0,0,0,0.05);
    height: 100%;
    padding: 20px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;

}
footer .bottom a {
    color: #fdecaa;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;
}
footer .bottom a:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

footer .wrapper {
    background: rgba(0,0,0,0.1);
    height: 100%;
}