/* --- Основная часть --- */
main {
    height: calc(100vh - 120px);
    /* 60px nav + 60px footer */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 8px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;
    user-select: none;
    z-index: 5;
    position: relative;
    color: #fdecaa;
}