.header-menu-desktop {
    display: block;
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: 30px;
}

.header-menu-desktop-primary {
    width: 100%;
}

.header-menu-desktop .header-nav {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    line-height: 1.5;
}

.header-nav {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

.header-nav .header-nav-menu {
    display: block;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.header-menu-desktop .header-nav-menu>li {
    display: inline-block;
}

.header-nav-menu>li>a {
    padding: .5em .5em;
}
.header-nav-menu .header-nav-menu-link {
    text-decoration: none;
    position: relative;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;
}
.header-nav-menu a:not(.btn), .header-nav-menu button:not(.btn), .header-nav-menu-submenu>a {
    transition: all .2s ease-in-out 0s;
    display: inline-block;
    color: #fdecaa;
}

.header-menu-desktop .header-nav-menu-submenu {
    position: relative;
    padding-right: .4em;
}

.header-menu-desktop .header-nav-menu-submenu>div {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 160px;
    height: auto;
    border-radius: 0;
    transform: none;
    transition: none;
    display: none;
    text-align: left;
    opacity: 1;
}

.header-menu-desktop .header-nav-menu-submenu ul {
    padding: .5em 1rem;
    text-transform: none;
    list-style: none;
    font-size: .7646em;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-nav-menu-submenu-toggle {
    background: none; 
    border: none; 
    padding: 0.5em 1em; 
    cursor: pointer; 
    font-weight: 600;
    color: #fdecaa; 
    font-size: inherit; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px +2px 0 #000,
    +2px +2px 0 #000;
    text-transform: uppercase;
}

/* Можно добавить эффект при наведении */
.header-nav-menu-submenu-toggle:hover {
    text-decoration: underline;
}