/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'SedgwickAve-Regular';
    src: url('../../fonts/SedgwickAve-Regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'SedgwickAve-Regular', sans-serif;
    color: #fdecaa;
    /* background: rgba(0,0,0,0.3); */
}